 .ICEauthority
        .Xauthority
        .bash_history
        .cache
        .config/
        .gitconfig
        .lesshst
        .local/
        .pki/
        .ssh/
        .vscode/
        .xsession-errors
        .xsession-errors.old
        Pobrane/
        Szablony/
        afalkowski/
        lol/
        move
        nowe/
        plik3
        plik~tekstowy
        projekt/
        snap/
        srodowisko.test1/
        token
        words.txt
        zadanie/
